USE [WebApiDemo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/16/2020 5:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Capacities]    Script Date: 8/16/2020 5:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capacities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Capacities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 8/16/2020 5:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FreightDetails]    Script Date: 8/16/2020 5:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FreightDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RateCriteria] [nvarchar](max) NULL,
	[Rate] [int] NOT NULL,
	[FreightMasterId] [int] NOT NULL,
	[CapacityId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FreightDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FreightMasters]    Script Date: 8/16/2020 5:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FreightMasters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ModeId] [int] NOT NULL,
	[SourceCityId] [int] NOT NULL,
	[DestinationCityId] [int] NOT NULL,
	[LoadUnLoadCharges] [int] NOT NULL,
	[INR_KG] [decimal](18, 2) NOT NULL,
	[INR_CubeFeet] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.FreightMasters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modes]    Script Date: 8/16/2020 5:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Modes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Capacities] ON 
GO
INSERT [dbo].[Capacities] ([Id], [Name], [IsActive]) VALUES (1, N'1 T', 1)
GO
INSERT [dbo].[Capacities] ([Id], [Name], [IsActive]) VALUES (2, N'2 T', 1)
GO
INSERT [dbo].[Capacities] ([Id], [Name], [IsActive]) VALUES (3, N'3 T', 1)
GO
SET IDENTITY_INSERT [dbo].[Capacities] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 
GO
INSERT [dbo].[Cities] ([Id], [Name], [IsActive]) VALUES (1, N'Weedville', 1)
GO
INSERT [dbo].[Cities] ([Id], [Name], [IsActive]) VALUES (2, N'Brogan', 1)
GO
INSERT [dbo].[Cities] ([Id], [Name], [IsActive]) VALUES (3, N'Curtice', 1)
GO
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[FreightDetails] ON 
GO
INSERT [dbo].[FreightDetails] ([Id], [RateCriteria], [Rate], [FreightMasterId], [CapacityId]) VALUES (1, N'INR/kg', 7186, 1, 1)
GO
INSERT [dbo].[FreightDetails] ([Id], [RateCriteria], [Rate], [FreightMasterId], [CapacityId]) VALUES (2, N'INR/Cube Feet', 2281, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[FreightDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[FreightMasters] ON 
GO
INSERT [dbo].[FreightMasters] ([Id], [ModeId], [SourceCityId], [DestinationCityId], [LoadUnLoadCharges], [INR_KG], [INR_CubeFeet], [IsActive]) VALUES (1, 1, 1, 3, 3, CAST(5.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), 1)
GO
INSERT [dbo].[FreightMasters] ([Id], [ModeId], [SourceCityId], [DestinationCityId], [LoadUnLoadCharges], [INR_KG], [INR_CubeFeet], [IsActive]) VALUES (2, 2, 2, 4, 5, CAST(2.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[FreightMasters] OFF
GO
SET IDENTITY_INSERT [dbo].[Modes] ON 
GO
INSERT [dbo].[Modes] ([Id], [Name], [IsActive]) VALUES (1, N'Rail', 1)
GO
INSERT [dbo].[Modes] ([Id], [Name], [IsActive]) VALUES (2, N'Air', 1)
GO
INSERT [dbo].[Modes] ([Id], [Name], [IsActive]) VALUES (3, N'Road', 1)
GO
SET IDENTITY_INSERT [dbo].[Modes] OFF
GO
ALTER TABLE [dbo].[FreightDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FreightDetails_dbo.Capacities_CapacityId] FOREIGN KEY([CapacityId])
REFERENCES [dbo].[Capacities] ([Id])
GO
ALTER TABLE [dbo].[FreightDetails] CHECK CONSTRAINT [FK_dbo.FreightDetails_dbo.Capacities_CapacityId]
GO
ALTER TABLE [dbo].[FreightDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FreightDetails_dbo.FreightMasters_FreightMasterId] FOREIGN KEY([FreightMasterId])
REFERENCES [dbo].[FreightMasters] ([Id])
GO
ALTER TABLE [dbo].[FreightDetails] CHECK CONSTRAINT [FK_dbo.FreightDetails_dbo.FreightMasters_FreightMasterId]
GO
ALTER TABLE [dbo].[FreightMasters]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FreightMasters_dbo.Cities_DestinationCityId] FOREIGN KEY([DestinationCityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[FreightMasters] CHECK CONSTRAINT [FK_dbo.FreightMasters_dbo.Cities_DestinationCityId]
GO
ALTER TABLE [dbo].[FreightMasters]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FreightMasters_dbo.Cities_SourceCityId] FOREIGN KEY([SourceCityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[FreightMasters] CHECK CONSTRAINT [FK_dbo.FreightMasters_dbo.Cities_SourceCityId]
GO
ALTER TABLE [dbo].[FreightMasters]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FreightMasters_dbo.Modes_ModeId] FOREIGN KEY([ModeId])
REFERENCES [dbo].[Modes] ([Id])
GO
ALTER TABLE [dbo].[FreightMasters] CHECK CONSTRAINT [FK_dbo.FreightMasters_dbo.Modes_ModeId]
GO
